streamlit==1.45.1
python-dotenv==1.1.0
PyPDF2==3.0.1

langchain==0.3.25
langchain-community==0.3.24
langchain-text-splitters==0.3.8
langchain-groq==0.3.2
langchain-chroma==0.2.4
langchain-huggingface==0.2.0

chromadb==1.0.10
sentence-transformers==4.1.0
huggingface_hub==0.31.2

torch==2.7.0
torchvision==0.22.0